<a href="https://colab.research.google.com/github/Yehan-Manodya/CM2604-Machine-learning-cw/blob/source-code/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Importing dataset

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
import pandas as pd
import numpy as np

In [30]:
dataset = pd.read_csv('/content/drive/My Drive/MLcoursework/bank-additional-full.csv', sep=';')

# Data Preprocessing

In [31]:
dataset.shape

(41188, 21)

In [32]:
dataset.duplicated().sum()

12

In [33]:
# Find duplicate rows
duplicates = dataset[dataset.duplicated()]

print("Duplicate rows:")
print(duplicates)

Duplicate rows:
       age          job   marital            education  default housing loan  \
1266    39  blue-collar   married             basic.6y       no      no   no
12261   36      retired   married              unknown       no      no   no
14234   27   technician    single  professional.course       no      no   no
16956   47   technician  divorced          high.school       no     yes   no
18465   32   technician    single  professional.course       no     yes   no
20216   55     services   married          high.school  unknown      no   no
20534   41   technician   married  professional.course       no     yes   no
25217   39       admin.   married    university.degree       no      no   no
28477   24     services    single          high.school       no     yes   no
32516   35       admin.   married    university.degree       no     yes   no
36951   45       admin.   married    university.degree       no      no   no
38281   71      retired    single    university.degree       no      no   no

         contact month day_of_week  ...  campaign  pdays  previous  \
1266   telephone   may         thu  ...         1    999         0
12261  telephone   jul         thu  ...         1    999         0
14234   cellular   jul         mon  ...         2    999         0
16956   cellular   jul         thu  ...         3    999         0
18465   cellular   jul         thu  ...         1    999         0
20216   cellular   aug         mon  ...         1    999         0
20534   cellular   aug         tue  ...         1    999         0
25217   cellular   nov         tue  ...         2    999         0
28477   cellular   apr         tue  ...         1    999         0
32516   cellular   may         fri  ...         4    999         0
36951   cellular   jul         thu  ...         1    999         0
38281  telephone   oct         tue  ...         1    999         0

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
1266   nonexistent          1.1          93.994          -36.4      4.855
12261  nonexistent          1.4          93.918          -42.7      4.966
14234  nonexistent          1.4          93.918          -42.7      4.962
16956  nonexistent          1.4          93.918          -42.7      4.962
18465  nonexistent          1.4          93.918          -42.7      4.968
20216  nonexistent          1.4          93.444          -36.1      4.965
20534  nonexistent          1.4          93.444          -36.1      4.966
25217  nonexistent         -0.1          93.200          -42.0      4.153
28477  nonexistent         -1.8          93.075          -47.1      1.423
32516  nonexistent         -1.8          92.893          -46.2      1.313
36951  nonexistent         -2.9          92.469          -33.6      1.072
38281  nonexistent         -3.4          92.431          -26.9      0.742

       nr.employed    y
1266        5191.0   no
12261       5228.1   no
14234       5228.1   no
16956       5228.1   no
18465       5228.1   no
20216       5228.1   no
20534       5228.1   no
25217       5195.8   no
28477       5099.1   no
32516       5099.1   no
36951       5076.2  yes
38281       5017.5   no

[12 rows x 21 columns]

In [34]:
# Remove duplicate rows
dataset = dataset.drop_duplicates()

print("Duplicates removed. Updated dataset shape:", dataset.shape)

Duplicates removed. Updated dataset shape: (41176, 21)

In [35]:
dataset.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [36]:
dataset.columns.values

array(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'], dtype=object)

In [37]:
#chek for missing values
dataset.isnull().values.any()

False

In [38]:
dataset.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [39]:
dataset.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [40]:
# Check for uppercase letters in the entire dataset
uppercase_exists = dataset.applymap(lambda x: any(char.isupper() for char in str(x)) if isinstance(x, str) else False)

# Display rows and columns containing uppercase letters
uppercase_rows_cols = dataset[uppercase_exists.any(axis=1)]

print("Rows containing uppercase letters:")
print(uppercase_rows_cols)

<ipython-input-40-932ebac4c36a>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  uppercase_exists = dataset.applymap(lambda x: any(char.isupper() for char in str(x)) if isinstance(x, str) else False)

Rows containing uppercase letters:
Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, duration, campaign, pdays, previous, poutcome, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed, y]
Index: []

[0 rows x 21 columns]

In [41]:
import string

categorical_cols = ['job', 'marital', 'education', 'default', 'housing',
    'loan', 'contact', 'month', 'day_of_week', 'poutcome']

# Check for punctuation in the specified categorical columns
punctuation_exists = dataset[categorical_cols].applymap(
    lambda x: any(char in string.punctuation for char in str(x)) if isinstance(x, str) else False
)

# Display rows containing punctuation in categorical columns
rows_with_punctuation = dataset.loc[punctuation_exists.any(axis=1), categorical_cols]

print("Rows containing punctuation in the specified categorical columns:")
if rows_with_punctuation.empty:
    print("No rows with punctuation found.")
else:
    print(rows_with_punctuation)
    print(f"Number of rows with punctuation: {rows_with_punctuation.shape[0]}")

<ipython-input-41-6b00df93dbe0>:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  punctuation_exists = dataset[categorical_cols].applymap(

Rows containing punctuation in the specified categorical columns:
               job  marital            education  default housing loan  \
0        housemaid  married             basic.4y       no      no   no
1         services  married          high.school  unknown      no   no
2         services  married          high.school       no     yes   no
3           admin.  married             basic.6y       no      no   no
4         services  married          high.school       no      no  yes
...            ...      ...                  ...      ...     ...  ...
41183      retired  married  professional.course       no     yes   no
41184  blue-collar  married  professional.course       no      no   no
41185      retired  married    university.degree       no     yes   no
41186   technician  married  professional.course       no      no   no
41187      retired  married  professional.course       no     yes   no

         contact month day_of_week     poutcome
0      telephone   may         mon  nonexistent
1      telephone   may         mon  nonexistent
2      telephone   may         mon  nonexistent
3      telephone   may         mon  nonexistent
4      telephone   may         mon  nonexistent
...          ...   ...         ...          ...
41183   cellular   nov         fri  nonexistent
41184   cellular   nov         fri  nonexistent
41185   cellular   nov         fri  nonexistent
41186   cellular   nov         fri  nonexistent
41187   cellular   nov         fri      failure

[40172 rows x 10 columns]
Number of rows with punctuation: 40172

In [42]:
#Remove punctuations
for col in categorical_cols:
    dataset[col] = dataset[col].str.replace('[{}]'.format(string.punctuation), '', regex=True)

print("Punctuation removed from the specified categorical columns.")

Punctuation removed from the specified categorical columns.

In [43]:
dataset.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,highschool,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,highschool,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin,married,basic6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,highschool,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [44]:
# Find columns with 'unknown' values
columns_with_unknown = dataset.columns[(dataset == 'unknown').any()].tolist()

print(f"Columns containing 'unknown': {columns_with_unknown}")

Columns containing 'unknown': ['job', 'marital', 'education', 'default', 'housing', 'loan']

In [45]:
# Count 'unknown' values in each column
unknown_counts = (dataset == 'unknown').sum()

print("Count of 'unknown' values per column:")
print(unknown_counts[unknown_counts > 0])

Count of 'unknown' values per column:
job           330
marital        80
education    1730
default      8596
housing       990
loan          990
dtype: int64

In [46]:
# Calculate the mode for each specified column
column_modes = dataset[columns_with_unknown].mode().iloc[0]

# Display the mode values
print("Mode value for each specified column:")
print(column_modes)

Mode value for each specified column:
job                     admin
marital               married
education    universitydegree
default                    no
housing                   yes
loan                       no
Name: 0, dtype: object

In [47]:
# Iterate through each column to replace 'unknown' with the column's mode
for column in columns_with_unknown:
  dataset[column] = dataset[column].replace('unknown',column_modes[column] )# Replace 'unknown' with the mode value

# Verify the changes
print("After replacing 'unknown':")
print(dataset[columns_with_unknown].head())

After replacing 'unknown':
         job  marital   education default housing loan
0  housemaid  married     basic4y      no      no   no
1   services  married  highschool      no      no   no
2   services  married  highschool      no     yes   no
3      admin  married     basic6y      no      no   no
4   services  married  highschool      no      no  yes

In [48]:
#Check how many values from each category in categorical columns
print(dataset['marital'].value_counts())
print(dataset['job'].value_counts())
print(dataset['education'].value_counts())
print(dataset['default'].value_counts())
print(dataset['housing'].value_counts())
print(dataset['loan'].value_counts())

marital
married     25001
single      11564
divorced     4611
Name: count, dtype: int64
job
admin           10749
bluecollar       9253
technician       6739
services         3967
management       2924
retired          1718
entrepreneur     1456
selfemployed     1421
housemaid        1060
unemployed       1014
student           875
Name: count, dtype: int64
education
universitydegree      13894
highschool             9512
basic9y                6045
professionalcourse     5240
basic4y                4176
basic6y                2291
illiterate               18
Name: count, dtype: int64
default
no     41173
yes        3
Name: count, dtype: int64
housing
yes    22561
no     18615
Name: count, dtype: int64
loan
no     34928
yes     6248
Name: count, dtype: int64